.c1{   
  width:120px;
  height:120px;   
  border-radius:120px;
  background-color:white;   
  margin:20px 0 0 60px;   
  }

.c2{
  width:150px;
  height:80px;      
  border-radius: 80px / 50px;
  background-color:white;   
  margin:-90px 0 0 80px;
  }
     
.c3{
  width:150px;
  height:90px;   
  border-radius: 80px / 50px;
  background-color:white;   
  margin:-90px 0 0 0px;   
  }

  @keyframes animacion{
    0%  {transform:translateX(-200px);} 
     50% {transform:translateX(300px) scale(1.2);}
     100% {transform:translateX(-200px); }
}

#nube{
  animation: animacion linear infinite;
  opacity: 0.6;
  z-index: -1px;
  position:absolute;
}